[submodule "src/rtabmap_ros"]
	path = src/rtabmap_ros
	url = https://github.com/introlab/rtabmap_ros.git
[submodule "src/tf2_web_republisher"]
	path = src/tf2_web_republisher
	url = https://github.com/RobotWebTools/tf2_web_republisher.git
